nav {
	float: left;
	width: 100%;
	background: #555;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #777;
}

nav ul li {
	padding: 0;
	float: left;
	background: #999;
}

nav ul li a {
	padding: 5px;
	background: #ccc;
}

h1 {
	clear: both;
	background: #eee;
	height: 100px;
	padding: 100px;
	border: 2px solid #ddd;
}

h2{background: orange;}

.clearfix:after {
	content: " "; /* 1 */
}

ul.menu {
	position: relative;
}

ul.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background: black;
	display: none;
	top: 35px;
}

ul.menu li li {
	background: yellow;
}

ul.menu li:hover ul {
	display: block;
	position: absolute;
}

.relative {
	position: relative;
	background: gray;
	height: 200px;
	width: 200px;
}

.absolute2 {
	position: absolute;
	background: red;
	height: 100px;
	width: 100px;
	right: 0;
	bottom: 0;
}

.absolute1 {
	position: absolute;
	background: blue;
	height: 150px;
	width: 150px;
}

.box {
	background: gray;
}

.box img {
	float: left;
}

.mask {
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
}