@import "../bower_components/patternfly/less/patternfly-additions.less";

@fa-font-path:      "../bower_components/patternfly/components/font-awesome/fonts/";
@font-path:         "../bower_components/patternfly/dist/fonts";
@icon-font-path:    "../bower_components/patternfly/components/bootstrap/fonts/";

// style for lists within cards (last item in list will be a "more..." link)
.bpm-card-list {
	background: @card-pf-bg-color;
	.list-group-item {
		border-bottom: none;
	}
	li:last-child {
		a {
			color: @gray-light;
		}
	}
}

// style for 'empty state cards'
.blank-card-bpm {
  text-align: center;
  .bpm-blank-slate-icon{
    color: @gray-light;
    font-size: @font-size-h1 * 2.4;
    line-height: @font-size-h1 * 2.4;
    margin-bottom: 30px;
  }
  .bpm-blank-slate-main-action{
    font-size: @font-size-h1;
    margin-top: -10px;
    margin-bottom: 30px;
  }
 .bpm-blank-slate-description {
    //tbd
  }
}

// right-hand sidebar, containing lists of links
.sidebar-bpm {
  max-width: 100%;
  background-color: #fff;
  border-left: 1px solid @sidebar-pf-border-color;

  .sidebar-bpm-heading {
    margin: 0px -@grid-gutter-width/2 0px -@grid-gutter-width;
    padding: 2px @grid-gutter-width 0px  @grid-gutter-width;
  }

  .list-group {
    border-top: none;
  }

  .list-group-item {
    background-color: inherit;
    border: none;
    padding-left: 0;
    font-size: @font-size-small;
    
    a {
      text-decoration: none;
    }
    
    .list-group-item-text {
      margin-top: -2px;
      color: @gray-light;
    }
    
    .list-group-item-empty-text {
      color: @gray-light;
      font-size: @font-size-base;
    }
    
    .list-group-item-heading {
      font-weight: normal;
      font-size: @font-size-base;
    }
  }
}

.bpm-numeric-indicators{
float: right;  
margin-top: -13px;

  h5{
    float: left;
    margin: 0;
    line-height: 40px;
  }

}

.bpm-numeric-indicator{
  float: left;
  margin-left: 30px;
  a {
    text-decoration: none;
    color: @text-color;
  }
}

.bpm-numeric-indicator-icon{
  float: left;
  border: solid 2px @brand-primary;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  span {
  	margin-top: 7px;
  	width: 100%;
  	color: @gray;
  	font-size: ceil((@font-size-base * 1.5)); // note: somehow this is bigger than using font-size-h3...
  	text-align: center;
  }
}

.bpm-numeric-indicator-text{
  margin-left: 50px;
  line-height: 15px;
  strong{
    display: block;
    font-size: @font-size-h3;
    font-weight: normal;
    line-height: 22px;
  }
}

.activity-timeline{
margin-bottom: 20px;
}

.activity-timeline-date-label{
	color: @gray-light;
}

.bpm-hover-list{
    white-space:pre-wrap;
}

.bpm-homepage-chart{
  margin-bottom: 20px;
  img{
    width: 100%;
  }
}