@import "../bower_components/patternfly/less/patternfly-additions.less";

@fa-font-path:      "../bower_components/patternfly/components/font-awesome/fonts/";
@font-path:         "../bower_components/patternfly/dist/fonts";
@icon-font-path:    "../bower_components/patternfly/components/bootstrap/fonts/";

// .recent-files{
// 	background: #f1f1f1;
// 	min-height: 600px;
// }

// .card-area{
// 	min-height: 600px;
// }

.recent-files {
 
 .recent-files-heading {
  border-bottom: 1px solid @card-pf-border-color;
		margin: 0px -@grid-gutter-width*(3/4) 0px -@grid-gutter-width;
		padding: 2px @grid-gutter-width 0px  @grid-gutter-width;
}

.recent-files-title {
  font-size: @font-size-h3;
  font-weight: 300;
  margin: @grid-gutter-width/2 0;
  padding: 0;
}

	h5 {
		margin: 0 -@grid-gutter-width*(3/4) 0 -@grid-gutter-width;
		padding: 0 @grid-gutter-width 20px  @grid-gutter-width;
		border-bottom: 2px solid @gray-lighter;
		color: @gray;
		// font-size: @font-size-h4;
	}

	.list-group {
		border-top: none;
		padding-top: 10px;
	}

	.list-group-item {
  		background-color: inherit;
  		border: none;
  		padding-left: 0;
  		font-size: @font-size-small;
  		a {
  			text-decoration: none;
  		}
  		.list-group-item-text {
  			color: @gray-light;
  		}
  		.list-group-item-heading {
			// font-weight: bold;
  		}
	}
}

.bpm-card-list {
	background: @card-pf-bg-color;
	.list-group-item {
		border-bottom: none;
	}
	li:last-child {
		a {
			color: @gray-light;
		}
	}
}

.circled-icon-indicator-set{
float: right;  
  margin-top: -13px;
}

.circled-icon-indicator{
  float: left;
  margin-left: 30px;
}

.indicators-label{
	margin-top: 2px;
	text-align: right;
	margin-right: -5px;
}

.circled-icon{
  float: left;
  border: solid 2px @brand-primary;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  span {
  	margin-top: 7px;
  	width: 100%;
  	color: @gray;
  	font-size: ceil((@font-size-base * 1.5)); // note: somehow this is bigger than using font-size-h3...
  	text-align: center;
  }
}

.indicator-body{
  margin-left: 50px;
  // background: aqua;
  line-height: 15px;
  strong{
    display: block;
    font-size: @font-size-h3;
    font-weight: normal;
    line-height: 22px;
    // background: red;
  }
}

.activity-timeline{
	margin-left: -38px;
}

.activity-timeline-date-label{
	color: @gray-light;
}
